
body {
  background-color: #333; color: #bbb; line-height: normal;
  font-family: Lucida Grande, Lucida Sans, Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
  font-size: 18px; font-weight: normal; text-decoration: none;
	  line-height: 1.5em;
}
.container {
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error {
  width: 300px;
}
